@import url("https://fonts.googleapis.com/css2?family=Montserrat:wgh@400;700&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

h1 {
    font-weight: 900;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.box {
    width: 350px;
    height: 460px;
    font-size: 16px;
    padding: 40px 40px;
    background: #FFD523;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}

.user {
    margin-top: 50px;
}



input {
    width: 90%;
    margin-bottom: 25px;
    padding: 0px 30px 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #FFD523;
    outline: none;
    background-color: #FFD523;
    color: #fff;
}

input:focus {
    border-bottom: 1px solid #eeeeee;
}

.reset-password {
    color: #ff7f50;
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
}

.login-btn {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: block;
    width: 50%;
    padding: 15px;
    background-color: #eadeb8;
    color: #eadeb8;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.signup span {
    color: #7fb8e6;
}

.signup span:hover {
    color: #FFD523;
}