* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #69db5e; */
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.text-center {
  text-align: center;
  color: white;
  position: relative;
  top: 10rem;
  font-weight: bold;
}

.question {
    background: white;
    display: block;
    position: relative;
    top: 15rem;
    left: 15rem;
    width: 45rem;
}

.layout{
    width: 600px;
    margin: auto;
    position: relative;
    top: 13rem;
}
.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.accordion__question p{
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
}
.accordion__answer p{
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(82, 170, 122);
    border-radius: 10px; 
}
.accordion:hover{
    cursor: pointer;
}
.accordion__answer {
    display: none;
} 
.accordion.active .accordion__answer {
    display: block;
}
